/var/log/nginx/*
!/var/log/nginx/.gitkeep
/var/log/nginx/tff/*
!/var/log/nginx/tff/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/lib/mysql/*
!/var/lib/mysql/.gitkeep
/var/log/mysql/*
!/var/log/mysql/.gitkeep